.dark{
    background-color: black;
}
button{
   width: 120px;
   height: 40px;
   margin: auto;
   top: 50px;
  margin-left: 80px;
 color: white;
 background-color: tomato;
 border: none;
 margin-top: 60px;
 margin-left: 120px;
 
}
.fas{
   bottom: -100px;
    margin-left: 20px;
}
.fas:hover{
    transform: rotate(90deg);
}

button:hover{
    transition: 1s ease;
    transform:scale(1.2);
}
.two{
    margin: auto;
    margin-left: 600px;
    margin-top: 80px;

}
.div2{
    top: 200px;
    margin-top: -96px;
    margin-left: 300px;
}

